@import "../../variables.scss";

.main-background {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: start;
  background: $primary;
  max-width: 100vw !important;
}

.name {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 4rem;
  margin: 0;

  @include desktop {
    font-size: 72px;
    line-height: 4.5rem;
  }

  @include desktopXl {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.subtitle {
  color: $light;
  font-weight: 200;
}
