@import "../../_variables.sass";
@import "~react-bulma-components/src/index.sass";

.header {
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 8px !important;
  color: $primary;
}

.animated-hr {
  width: 0%;
  margin: 0 auto;
  height: 12px;
  background: $red;
}

.about-me {
  padding: 1rem;
}

.icons {
  max-width: 768px;
  margin: 0 auto !important;
}

.icon-svg {
  height: 50px;

  @include desktop {
    height: 55px;
  }

  @include widescreen {
    height: 60px;
  }
}

#about {
  height: 100vh;
  width: 100%;
}
