@import "../../variables.scss";

.title {
  font-size: 3rem;
  margin-bottom: 8px !important;
  color: $primary;
}

.animated-hr {
  width: 0%;
  margin: 0 auto;
  height: 12px;
  background: $secondary;
  border: none;
  outline: 0;
}

.about-me {
  padding: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.about-me-summary {
  font-weight: 200;
}

.icons {
  max-width: 768px;
  margin: 0 auto !important;
}

.icon-svg {
  height: 50px;

  @include desktop {
    height: 55px;
  }

  @include desktopXl {
    height: 60px;
  }
}

#about {
  width: 100%;
}
