@import "./_variables.sass";
@import "~react-bulma-components/src/index.sass";

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;

  .nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    font-weight: 700;
    color: $primary;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      #ffffff,
      #ffffff 50%,
      $primary 50%
    );
    background-size: 200% 100%;
    background-position: 100%;

    &:hover {
      transition: all 2s cubic-bezier(0, 0, 0.23, 1.5);
      background-position: 0%;
    }
  }
}

.main-background {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: start;
}

.name {
  font-size: 64px;
  color: $primary;
  font-weight: 900;
  line-height: 4rem;

  @include desktop {
    font-size: 72px;
    line-height: 4.5rem;
  }

  @include widescreen {
    font-size: 88px;
    line-height: 5rem;
  }
}
