// colors
$primary: #141414;
$secondary: #ff4365;
$light: #cccccc;

// breakpoints
$small: 425px;
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-lg: 1200px;
$desktop-xl: 1400px;
$desktop-xxl: 2560px;

@mixin small {
  @media (min-width: #{$small}) and (max-width: #{$phone - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-lg - 1px}) {
    @content;
  }
}

@mixin desktopLg {
  @media (min-width: #{$desktop-lg}) and (max-width: #{$desktop-xl - 1px}) {
    @content;
  }
}

@mixin desktopXl {
  @media (min-width: #{$desktop-xl}) and (max-width: #{$desktop-xxl - 1px}) {
    @content;
  }
}

@mixin desktopXXl {
  @media (min-width: #{$desktop-xxl}) {
    @content;
  }
}
