@import "../../_variables.sass";
@import "~react-bulma-components/src/index.sass";

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  background: $primary;
  margin: 0;
  max-width: 100%;
  padding: 16px;

  .nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      $primary,
      #ffffff 50%,
      #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: 100%;

    &:hover {
      transition: all 2s cubic-bezier(0, 0, 0.23, 1.5);
      background-position: 0%;
    }
  }
}
