@import "../../variables.scss";

$spacing: 32px;
$radius: 4px;
$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

.timeline-line {
  width: $line;
  background: $secondary;
  position: absolute;
  top: 0;
  left: -$line;
}

.timeline {
  width: 100%;
  // border-left: $line solid $secondary;
  margin: 48px auto;
  letter-spacing: 0.5px;
  position: relative;
  font-size: 1em;
  padding: $spacing;
  list-style: none;
  flex: 1;

  .event {
    padding-bottom: ($spacing * 0.5);
    margin-bottom: $spacing;
    position: relative;
    width: 85px;

    @include small {
      width: 105px;
    }

    @include phone {
      width: 125px;
    }

    @include tablet {
      width: 135px;
    }

    @include desktop {
      width: 135px;
    }

    @include desktopLg {
      width: 145px;
    }

    @include desktopXl {
      width: 155px;
    }

    @include desktopXXl {
      width: 165px;
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) *
        -1;
      color: $primary;
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 0.9em;
      min-width: $date;
    }

    &:after {
      box-shadow: 0 0 0 $dotborder fade($secondary, 100%);
      left: ($spacing + $line + ($dot * 0.35)) * -1;
      background: $primary;
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: "";
      top: 5px;
    }
  }
}

#timeline-content {
  text-align: center;
  position: absolute;
  top: initial;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
}
